---
Language: Cpp
BasedOnStyle: LLVM

IndentWidth: 4
TabWidth: 4
UseTab: Never

BreakBeforeBraces: Allman
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
AllowShortBlocksOnASingleLine: false

IndentCaseLabels: true
IndentPPDirectives: BeforeHash
NamespaceIndentation: None

SpaceBeforeParens: ControlStatements
SpaceAfterCStyleCast: false
SpaceBeforeAssignmentOperators: true
SpaceBeforeRangeBasedForLoopColon: true
SpaceInEmptyBlock: false
SpacesInParentheses: false
SpacesInSquareBrackets: false

PointerAlignment: Right
ReferenceAlignment: Right
DerivePointerAlignment: false

AlignConsecutiveMacros: true
AlignEscapedNewlines: Left
AlignTrailingComments: true

SortIncludes: CaseSensitive
IncludeBlocks: Preserve

ColumnLimit: 80
ReflowComments: true

AlignAfterOpenBracket: Align
BinPackArguments: true
BinPackParameters: true
